In [17]:
import pandas as pd
from time import time
from sqlalchemy import create_engine, text

### Prepare Postgres

In [42]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-26 14:44:32--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T194433Z&X-Amz-Expires=300&X-Amz-Signature=cbdd6abe659389aaf7c9320d1886818f76287e36631add54bddfd50e55df2ced&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-26 14:44:33--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T194433Z&X-Amz-Expires=300&X-Amz-Signature=cbdd6abe659389aaf7c9320d1886818f76287e36631add54bddfd50e55df2ced&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz.1’

green_tripdata_2019 100%[===================>]   7.88M  35.6MB/s    in 0.2s

2025-01-26 14:44:33 (35.6 MB/s) - ‘green_tripdata_2019-10.csv.gz.1’ saved [8262584/8262584]

--2025-01-26 14:44:33--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T194433Z&X-Amz-Expires=300&X-Amz-Signature=402424a6cc722b0ea7c766de3a66d574bf1dba59e2b59bf5c81b708f97334534&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-26 14:44:33--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T194433Z&X-Amz-Expires=300&X-Amz-Signature=402424a6cc722b0ea7c766de3a66d574bf1dba59e2b59bf5c81b708f97334534&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-26 14:44:33 (77.4 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [2]:
df = pd.read_csv('./green_tripdata_2019-10.csv.gz', nrows=100, 
                 parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'])

In [3]:
engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')
engine.connect()

In [4]:
print(pd.io.sql.get_schema(df, name="green_tripdata", con=engine))

CREATE TABLE green_tripdata (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [5]:
df.head(n=0).to_sql(name="green_tripdata", con=engine, if_exists='replace')

0

In [6]:
df = pd.read_csv('./green_tripdata_2019-10.csv.gz', iterator=True, chunksize=100000, parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'])
for i, chunk in enumerate(df):
    t_start = time()
    chunk.to_sql(name="green_tripdata", con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 15.719 second
inserted another chunk, took 15.789 second
inserted another chunk, took 15.764 second

/tmp/ipykernel_469204/783183679.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(df):

inserted another chunk, took 15.695 second
inserted another chunk, took 10.235 second

In [69]:
df = pd.read_csv('./taxi_zone_lookup.csv')
df.to_sql(name="zones", con=engine, if_exists='replace')

### Question 3. Trip Segmentation Count

In [60]:
con = engine.connect()

In [44]:
con.execute(text("""
                 SELECT COUNT(1) FROM green_tripdata
                 WHERE lpep_pickup_datetime >= '2019-10-01' AND lpep_dropoff_datetime < '2019-11-01'
                 AND trip_distance <= 1
                 """)).fetchall()

[(104802,)]

In [45]:
con.execute(text("""
                 SELECT COUNT(1) FROM green_tripdata
                 WHERE lpep_pickup_datetime >= '2019-10-01' AND lpep_dropoff_datetime < '2019-11-01'
                 AND trip_distance > 1 AND trip_distance <= 3
                 """)).fetchall()

[(198924,)]

In [46]:
con.execute(text("""
                 SELECT COUNT(1) FROM green_tripdata
                 WHERE lpep_pickup_datetime >= '2019-10-01' AND lpep_dropoff_datetime < '2019-11-01'
                 AND trip_distance > 3 AND trip_distance <= 7
                 """)).fetchall()

[(109603,)]

In [47]:
con.execute(text("""
                 SELECT COUNT(1) FROM green_tripdata
                 WHERE lpep_pickup_datetime >= '2019-10-01' AND lpep_dropoff_datetime < '2019-11-01'
                 AND trip_distance > 7 AND trip_distance <= 10
                 """)).fetchall()

[(27678,)]

In [49]:
con.execute(text("""
                 SELECT COUNT(1) FROM green_tripdata
                 WHERE lpep_pickup_datetime >= '2019-10-01' AND lpep_dropoff_datetime < '2019-11-01'
                 AND trip_distance > 10
                 """)).fetchall()

[(35189,)]

### Question 4. Longest trip for each day

In [68]:
con.execute(text("""
                 SELECT lpep_pickup_datetime FROM (
                    SELECT lpep_pickup_datetime, trip_distance, 
                    ROW_NUMBER() OVER (ORDER BY trip_distance DESC) AS rank FROM green_tripdata
                    ) AS t
                    WHERE t.rank = 1
                 """)
            ).fetchall()

[(datetime.datetime(2019, 10, 31, 23, 23, 41),)]

### Question 5. Three biggest pickup zones

In [81]:
con.execute(text("""
                    SELECT "Zone" FROM zones
                    RIGHT JOIN (
                    	SELECT "PULocationID" FROM green_tripdata
                    	WHERE DATE(lpep_pickup_datetime) = '2019-10-18'
                    	GROUP BY "PULocationID"
                    	HAVING SUM(total_amount) > 13000
                    	ORDER BY SUM(total_amount) DESC
                         LIMIT 3
                    ) AS t
                    ON zones."LocationID" = t."PULocationID"
                 """)
            ).fetchall()

[('East Harlem North',), ('East Harlem South',), ('Morningside Heights',)]

### Question 6. Largest tip

In [84]:
con.execute(
    text("""
        SELECT dozone
        FROM (
        	SELECT puzo."Zone" as puzone, dozo."Zone" as dozone, tip_amount FROM green_tripdata
        	LEFT JOIN (SELECT "LocationID", "Zone" FROM zones) AS puzo
        	ON "PULocationID" = puzo."LocationID"
        	LEFT JOIN (SELECT "LocationID", "Zone" FROM zones) AS dozo
        	ON "DOLocationID" = dozo."LocationID"
        	WHERE TO_CHAR(lpep_pickup_datetime, 'YYYY-MM') = '2019-10'
        )
        WHERE puzone = 'East Harlem North'
        ORDER BY tip_amount DESC
        LIMIT 1
""")
).fetchall()

[('JFK Airport',)]

In [85]:
con.close()